[package]
name = "h3ron"
description = "high level rust API including collections for selected parts of H3"
version = "0.5.1"
authors = ["Nico Mandery <nico@nmandery.net>"]
edition = "2018"
license = "MIT"
keywords = ["geo", "spatial", "h3"]
readme = "../README.md"
homepage = "https://github.com/nmandery/h3ron"
repository = "https://github.com/nmandery/h3ron"

[dependencies.h3ron-h3-sys]
path = "../h3ron-h3-sys"
version = "3.7.1" # for publishing on crates.io

[dependencies.geo-types]
version = "^0.6"

[dependencies.serde]
version = "^1.0"
features = [ "derive" ]

[dev-dependencies]
bincode = "^1.3"